/* styles/fonts.css */
@font-face {
     font-family: 'Avenir Arabic';
     src: url('../public/fonts/AvenirArabic-Light.otf') format('opentype');
     font-weight: 300;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Avenir Arabic';
     src: url('../public/fonts/AvenirArabic-Medium.otf') format('opentype');
     font-weight: 500; 
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Avenir Arabic';
     src: url('../public/fonts/AvenirArabic-Bold.otf') format('opentype');
     font-weight: 700;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Avenir Arabic';
     src: url('../public/fonts/AvenirArabic-Black.otf') format('opentype');
     font-weight: 900;
     font-style: normal;
   }
   